
 .contenedor:after{
	content: "";
	display: block;
	clear:both;
}

.contenedor{
	width: 900px;
	border: #000000 solid 3px;
}

 .contendeor:after{
	content: " ";
	display: block;
	clear:both;
}

.box{
	width: 20%;
	height: 100px;
}
.caja1{
	background-color: #ffff00;
	float: right;
}
.caja2{
	background-color: #3a81ba;
	float: right;
}
.caja3{
	background-color: #ed2251;
	float: right;
}